 
 .A{
 text-align: center;
  padding-top: 1cm;
}



.A a {
  color: orange;  
   text-align: center;

}

.A a:hover {
  color: blue;   
   text-align: center;

}

    .IMG {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Paragraf*/
    .Teks {
padding-left: 10px;
font-family: "Arial", serif;
  text-align: justify;
  font-size: 20px;
  width: 70%;
  margin: 20px auto;
  line-height: 1.7;

}

    .bold {
  font-weight: bold;

}

    .BoldMiring {
     font-weight: bold;
     font-style: italic;   
    }

    .Miring {
        font-style: italic;
    }

    .Blue {
        color: rgb(0, 73, 209);
    }
    .Red {
        color: rgb(255, 0, 0);
        
    }
    .Unggu {
        color: blueviolet;
    }
    .Oren {
        color: orange;
    }
    .Green {
        color: rgb(5, 122, 21);
    }
    .Black {
        color: black;
        color: rgb(0, 0, 0);                 
        text-decoration: underline; 
        text-decoration-color: rgb(0, 0, 0);
    }

  